@media screen and (min-width:768px) {

    #menu {

        display: none;

    }

    .navigation {

        display: flex;
        justify-content: center;

    }

    .navigation ul {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 2rem;

        width: auto;

        max-height: none;

    }

    .navigation li {

        width: auto;

    }

    .gallery {

        grid-template-columns: repeat(3, 1fr);

    }

    figure img {

        height: 220px;

    }

}