@media only screen and (min-width:768px) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background: var(--dark);
    }

    nav a {
        flex: 1;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    figure img {
        height: 220px;
        object-fit: cover;
    }

}